@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #080613;
  --foreground: #171717;
  --font-nunito: 'Nunito', sans-serif;
  --font-nunito-sans: 'Nunito Sans', sans-serif;
  --font-firaCode-mono: 'Fira Code', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080613;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /*radial-gradient(circle, rgba(68, 148, 209, 1) 0%, rgba(35, 76, 107, 1) 100%);*/
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito);
}
.font-nunito-sans {
  font-family: var(--font-nunito-sans);
}
.font-fira-code {
  font-family: var(--font-firaCode-mono);
}

